[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/pack/plugins/start/nerd-tree"]
	path = vim/pack/plugins/start/nerd-tree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/pack/plugins/start/nerd-tree-git-plugin"]
	path = vim/pack/plugins/start/nerd-tree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/plugins/start/ReplaceWithRegister"]
	path = vim/pack/plugins/start/ReplaceWithRegister
	url = git@github.com:vim-scripts/ReplaceWithRegister.git
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/vim-devicons"]
	path = vim/pack/plugins/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "vim/pack/plugins/start/vim-easymotion"]
	path = vim/pack/plugins/start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
[submodule "vim/pack/plugins/start/vim-exchange"]
	path = vim/pack/plugins/start/vim-exchange
	url = git@github.com:tommcdo/vim-exchange.git
[submodule "vim/pack/plugins/start/vim-git-gutter"]
	path = vim/pack/plugins/start/vim-git-gutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/pack/plugins/start/vim-highlightedyank"]
	path = vim/pack/plugins/start/vim-highlightedyank
	url = git@github.com:machakann/vim-highlightedyank.git
[submodule "vim/pack/plugins/start/vim-javascript"]
	path = vim/pack/plugins/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/pack/plugins/start/vim-system-copy"]
	path = vim/pack/plugins/start/vim-system-copy
	url = git@github.com:christoomey/vim-system-copy.git
[submodule "vim/pack/plugins/start/vim-terraform"]
	path = vim/pack/plugins/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
[submodule "vim/pack/plugins/start/vim-text-object-line"]
	path = vim/pack/plugins/start/vim-text-object-line
	url = git@github.com:kana/vim-textobj-line.git
[submodule "vim/pack/plugins/start/vim-text-object"]
	path = vim/pack/plugins/start/vim-text-object
	url = git@github.com:kana/vim-textobj-user.git
[submodule "vim/pack/plugins/start/vim-textobj-entire"]
	path = vim/pack/plugins/start/vim-textobj-entire
	url = git@github.com:kana/vim-textobj-entire.git
[submodule "vim/pack/plugins/start/vim-textobj-user"]
	path = vim/pack/plugins/start/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
[submodule "vim/pack/plugins/start/vim-textobj-fold"]
	path = vim/pack/plugins/start/vim-textobj-fold
	url = git@github.com:kana/vim-textobj-fold.git
[submodule "vim/pack/plugins/start/vim-textobj-indent"]
	path = vim/pack/plugins/start/vim-textobj-indent
	url = git@github.com:kana/vim-textobj-indent.git
[submodule "vim/pack/plugins/start/vim-titlecase"]
	path = vim/pack/plugins/start/vim-titlecase
	url = git@github.com:christoomey/vim-titlecase.git
[submodule "vim/pack/plugins/start/vim-visual-multi"]
	path = vim/pack/plugins/start/vim-visual-multi
	url = git@github.com:mg979/vim-visual-multi.git
[submodule "vim/pack/colors/start/material.vim"]
	path = vim/pack/colors/start/material.vim
	url = git@github.com:kaicataldo/material.vim.git
[submodule "vim/pack/colors/start/oceanic-material"]
	path = vim/pack/colors/start/oceanic-material
	url = git@github.com:nvimdev/oceanic-material.git
[submodule "vim/pack/plugins/start/vim-markdown"]
	path = vim/pack/plugins/start/vim-markdown
	url = git@github.com:preservim/vim-markdown.git
